.Rproj.user
.Rhistory
.RData
.Ruserdata
models/
models_altpriors/
scripts_altpriors/
data/boundaries/
data/census21/
priors_sims_report.html
priors_sims_report.Rmd
simulations/sim_mods/
simulations2_wider_sd/sim_mods/
jrss_resubmission/
jrss_resubmission2/
jrss_resubmission3/jrss_response3.Rmd
jrss_resubmission3/jrss_response3.pdf
jrss_resubmission3/.DS_Store
.DS_Store
**/.DS_Store